@font-face {
  font-family: "yekan";
  src: url("../../fonts/YekanBakh-Medium.ttf") format(truetype);
}
@font-face {
  font-family: "yekanb";
  src: url("../../fonts/iranyekanwebextrabold.ttf") format(truetype);
}
* {
  font-family: "yekan";
}
/* strat style utility class */
.transation {
 transition: all .3s ease;

}
.dir-ltr {
  direction: ltr;
}
.dir-rtl {
  direction: rtl;
}
.intro-text {
  width: 100%;
  background: #658c4a;
  padding: 1rem 7.5rem;
}

.search-And-Logo {
  margin-top: 4px;
}
.imgLogo {
  width: 10%;
}
.search-Box {
  border-radius: 10px;
  width: 100%;
  border: 0.5px solid #9a9a9aaf;
  
}
.search-Box input {
  width: 90%;
  /* border: 1px solid #9a9a9aaf; */
  border: none;
  outline: none;
  padding: 5px 2px;
  font-size: 17px;
  border-radius: 10px;

  color: #545454;
}
.icon-search {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  padding: 4px 25px;
  width: 2%;
  background: rgb(216, 216, 216);
}
.icon-search > i {
  padding-top: 6px;
  color: #656565af;
}
.login-Box {
  padding-top: 10px;
  text-align: center;
  width: 16%;
}
.login-Box > i {

  /* font-size: 30px; */
  margin: 0 15px;
  cursor: pointer;

}
.login-Box>i:hover{
 transform: scale(1.2);
 color: rgb(26, 182, 213);
text-shadow:0 6px 1px red ;
 
}

.menuBox>ul{
/* background: red; */
  list-style-type: none;
  margin: 0 auto;
  /* padding: 0; */
  
}
.menuBox>ul>li>a{
  padding: 0 5px;
  font-family: "yekanb";
  /* border-right:0.5px solid gray; ;
  border-left:0.5px solid gray; ; */
margin-right: 15px;
color: #333333;
padding: 4px;
border-radius: 6px;
transition: all 0.3s;

}
.menuBox>ul>li>a:hover{
  background-color: #333333;
  color: white;
}
/* this part is menu and search box Mobile */
.icon-sinup{
  padding-top: 5px;
 
}
.icon-sinup>i{
  margin-inline:12px 0 ;
  transition: all 0.3s linear; 
}
.icon-sinup>i:hover{
transform: scale(1.2); 
}



.imgq{
  width: 100px;
}