@font-face {
  font-family: "yekan";
  src: url("../../fonts/YekanBakh-Medium.ttf") format(truetype);
}
@font-face {
  font-family: "yekanb";
  src: url("../../fonts/iranyekanwebextrabold.ttf") format(truetype);
}
* {
  font-family: "yekan";
}
/* strat style utility class */
.transation {
  transition: all 0.3s ease;
}
.dir-ltr {
  direction: ltr;
}
.dir-rtl {
  direction: rtl;
}
.intro-text {
  width: 100%;
  background: #658c4a;
  padding: 1rem 7.5rem;
}
.intro-text > h5 {
  color: white;
}

.search-And-Logo {
  margin-top: 4px;
}
.imgLogo {
  width: 10%;
}
.search-Box {
  border-radius: 10px;
  width: 100%;
  border: 0.5px solid #9a9a9aaf;
}
.search-Box input {
  width: 90%;
  /* border: 1px solid #9a9a9aaf; */
  border: none;
  outline: none;
  padding: 5px 2px;
  font-size: 17px;

  color: #545454;
  border-radius: 10px;
}
.icon-search {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  padding: 4px 25px;
  width: 2%;
  background: rgb(216, 216, 216);
}
.icon-search > i {
  padding-top: 6px;
  color: #656565af;
}
.login-Box {
  padding-top: 10px;
  text-align: center;
  width: 16%;
}
.login-Box > i {
  /* font-size: 30px; */
  margin: 0 15px;
  cursor: pointer;
}
.login-Box > i:hover {
  transform: scale(1.2);
  color: rgb(26, 182, 213);
  text-shadow: 0 6px 1px red;
}

.menuBox > ul {
  /* background: red; */
  list-style-type: none;
  margin: 0 auto;
  /* padding: 0; */
}
.menuBox > ul > li > a {
  padding: 0 5px;
  font-family: "yekanb";
  /* border-right:0.5px solid gray; ;
  border-left:0.5px solid gray; ; */
  margin-right: 15px;
  color: #333333;
  padding: 4px;
  border-radius: 6px;
  transition: all 0.3s;
}
.menuBox > ul > li > a:hover {
  background-color: #333333;
  color: white;
}
/* ! this part is menu and search box Mobile */
.icon-sinup {
  padding-top: 5px;
}
.icon-sinup > i {
  margin-inline: 12px 0;
  transition: all 0.3s linear;
}
.icon-sinup > i:hover {
  transform: scale(1.2);
}

.imgq {
  width: 100px;
}
.intro-text-mobile {
  font-size: 14px;
}

.icon-menu-mobile > i {
  font-size: 37px;
}
.search-box-mobile {
  width: 85%;
  border: 0.5px solid #9a9a9aaf;
  border-radius: 10px;
  align-self: flex-start;
}
.search-box-mobile > input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px 7px;
  font-size: 17px;

  color: #545454;
}
/* this part is menu itmes mobile */
.names-product {
  display: flex;
  padding: 0.5rem 0rem;
  flex-direction: column;
  transform: translateY(-140%);
  opacity: 0;
  z-index: 1000;
  right: 12px;
  width: 35px;
}
.u-none {
  list-style-type: none;
}
.u-none > li {
  padding: 8px 0.5rem;
  margin: 5px 0;
}
.u-none > li > a {
  font-family: "yekanb";
  display: block;
  padding: 5px;
  color: black;
  transition: all 0.1s linear;
  border-radius: 5px;
}
.u-none > li > a:hover {
  color: white;
  background: #000;
}

.fav-color {
  background-color: rgba(194, 194, 194, 0.501);
  backdrop-filter: blur(2px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
