.icon-menu-mobile{

    width: 35px;
}
.icon-menu-anim{
    width: 34px;
    height: 5px;
    background: rgb(80, 77, 77);
   margin: 4px 0;
}
#lineOne,#lineThree,#lineTwo{
    background-color: rgb(118, 116, 116);
}
#lineOne,#lineTwo{

    transform-origin: center;
}
#lineOne{
   top: 12px;
   transform: rotate(52deg);
   
}
#lineTwo{
top:11px;
    transform: rotate(-52deg);

}
#lineThree{
bottom: 4px;
    /* display: none; */
    /* background: red; */

}
